In [13]:
import numpy as np
import pandas as pd
import string

In [2]:
df = pd.read_csv('data/harry_potter_books.csv')

In [3]:
df.head()

,text,book,chapter
0,"THE BOY WHO LIVED Mr. and Mrs. Dursley, of nu...",Book 1: Philosopher's Stone,chap-1
1,"four, Privet Drive, were proud to say that the...",Book 1: Philosopher's Stone,chap-1
2,thank you very much. They were the last people...,Book 1: Philosopher's Stone,chap-1
3,"be involved in anything strange or mysterious,...",Book 1: Philosopher's Stone,chap-1
4,with such nonsense. Mr. Dursley was the direc...,Book 1: Philosopher's Stone,chap-1

In [4]:
df = df['text']

In [5]:
df.head()

0    THE BOY WHO LIVED  Mr. and Mrs. Dursley, of nu...
1    four, Privet Drive, were proud to say that the...
2    thank you very much. They were the last people...
3    be involved in anything strange or mysterious,...
4    with such nonsense.  Mr. Dursley was the direc...
Name: text, dtype: object

In [15]:
with open('final_file.txt','a') as f:
    for i in range(len(df)):
        out = df[i].translate(str.maketrans("","", string.punctuation))
        f.write(out.lower()+' ')

TypeError: str.translate() takes exactly one argument (2 given)

In [23]:
'akshay? ""kulkarni'.translate(str.maketrans('','',string.punctuation))

'akshaykulkarni'